{% extends 'base.html.twig' %}

{% block title %}LBExclusiveCars - Vehicule{% endblock %}

{% block body %}
    <h1>Vehicule</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vehicule.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ vehicule.nom }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ vehicule.prix }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ vehicule.description }}</td>
            </tr>
            <tr>
                <th>Annee</th>
                <td>{{ vehicule.annee }}</td>
            </tr>
            <tr>
                <th>Kilometrage</th>
                <td>{{ vehicule.kilometrage }}</td>
            </tr>
            <tr>
                <th>Couleur</th>
                <td>{{ vehicule.couleur }}</td>
            </tr>
            <tr>
                <th>PuissanceFiscale</th>
                <td>{{ vehicule.puissanceFiscale }}</td>
            </tr>
            <tr>
                <th>PuissanceDin</th>
                <td>{{ vehicule.puissanceDin }}</td>
            </tr>
            <tr>
                <th>DateAnnonce</th>
                <td>{{ vehicule.dateAnnonce ? vehicule.dateAnnonce|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EnVente</th>
                <td>{{ vehicule.enVente ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ vehicule.slug }}</td>
            </tr>
        </tbody>
    </table>


{% endblock %}
